html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #373737;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    margin: 0;
    background: linear-gradient(#c0b283, #373737);
    border-radius: 0;
    align-content: center;
    text-align: center;
    color: #dcd0c0;
}

h1 a:hover {
    text-decoration: none;
    color: #cec2b3;
}

h1 a {
    color: #fff3e3;
}

h1 {
    font-size: 48px;
}

#navBar {
    margin-bottom: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav.navbar {
    background-color: #373737!important;
}

.navbar .navbar-nav .nav-link {
    color: #f4f4f4;
}

.navbar .navbar-nav .nav-link a:hover{
    color: #dcd0c0;
}

.navbar .navbar-nav .active>.nav-link {
    color: #C0B283;
}

.navbar .navbar-nav .active>.nav-link:hover {
    color: #d6c895;
}

.dropdown-menu, button.dropdown-item {
    background-color: #f4f4f4;
}

.dropdown-item, button.dropdown-item {
    color: #373737;
}

.dropdown-item:hover {
    background-color: #dcd0c0;
    color: #373737;
}

.dropdown-item:focus {
    background-color: #c0b283;
}

button.dropdown-item {
    border-radius: 0;
}

.content {
    margin: 40px 0 0;
}

.table td {
    vertical-align: middle;
    align-items: center;
}

.table thead th {
    vertical-align: middle;
}

caption {
    caption-side: top;
    text-align: center;
}

tr {
    text-align: center;
}

.table select {
    width: auto;
    margin: auto;
}

.table caption {
    color: #373737;
}

.table .thead-dark th {
    background-color: #373737;
    color: #f4f4f4;
}

.table td {
    color: #373737;
}

.menu-icon {
    transform: scale(0.75, 0.75);
}

.form-box {
    margin-top: 50px;
}

.form-box h2 {
    float: left;
    margin-bottom: 25px;
    border-bottom: 2px solid #373737;
}

.text-box {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #373737;
}

.text-box label {
    margin: 0;
    float: left;
}

.text-box i {
    width: 26px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    float: left;
}

.text-box input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0;
}

input.submit-btn {
    outline: none;
}

.form-box .submit-btn {
    width: 100%;
    background: none;
    border-radius: 7px;
    border: 2px solid #373737;
    color: #373737;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 12px 0;
    box-shadow: 3px 3px 10px grey;
}

.form-box .submit-btn:hover {
    cursor: pointer;
    background: #373737;
    color: #c0b283;
}

#abstract {
    resize: none;
    border: none;
    border-radius: 0;
    background-color: #F4F4F4;
}

#abstract:focus {
    box-shadow: none;
}

.text-box input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + .customUpload {
    cursor: pointer;
    display: inline-block;
}

small.warning {
    color: red;
}

.alert {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    box-shadow: 2px 2px 5px grey;
}

.alert p {
    margin: 0;
}

.invalidAccess {
    margin: 20px;
    text-align: center;
}

.invalidAccess h3 {
    margin: 10px 0;
    padding: 10px;
}

.info {
    text-align: justify;
}


.btn-primary {
    background-color: #c0b283;
    border: 1px solid #c0b283;
}

.btn-primary:disabled {
    background-color: #c0b283;
    border: 1px solid #c0b283;
}

.btn-primary:hover {
    background-color: #aa9c6d;
    border: 1px solid #aa9c6b;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #c0b283;
    border: 1px solid #c0b283;
    box-shadow: 0 0 0 0.2rem #cdbf8f;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #cdbf8f;
}

.btn-primary:disabled:hover {
    background-color: #c0b283;
    border: 1px solid #c0b283;
}

.footer-copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #c0b283;
    color: #373737;
}